<h1>KelloggCoin Ledger</h1>

<!-- Step 1: List all transactions, starting with the ICO -->
<% transactions = Transaction.all%>
<% users = User.all%>

<p>
<ul>
  <% for transaction in transactions %>
   <% to = users.find_by({"id" => transaction["to_user_id"]}) %>
    <li>
       <%= transaction["amount"] %> kc
      from <% from=transaction["from_user_id"] %>
      <%if from.nil?%>
      Initial Coin Offering
      <%else%>
      <%= from %>
      <%end%>
      to <%= to["name"] %> 
      
    </li>
  <%end%>
</ul>

</p>

<!-- Step 2: Calculate and display the balances -->

<p>
<% for user in users %>
  <ul>
    <li>
    Balance for <%= user["name"]%>:
    <%=transactions.where({"to_user_id"=> user["id"]}).sum("amount") - transactions.where({"from_user_id"=> user["id"]}).sum("amount") %>  KC
    </li>
  </ul>
<%end%>
</p>

<!-- 
Expected balances:
Balance for Brian: 1348 KC
Balance for Ben: 2516 KC
Balance for Evan: 1164 KC
Balance for Anthony: 1456 KC
Balance for Krystina: 3516 KC 
-->